@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Braya!</h1>

<form onsubmit="return false" >
    <label>
        <span>
            Item Text
        </span>

        <input type="text"
               @bind-value="ItemText" />
    </label>

    <button type="submit" @onclick="this.AddItem">
        Add item
    </button>
</form>

<ul>
    @foreach(var item in this.Items)
    {
        <li>
            @item
            <button style="border:none; background: none;"
                @onclick="() => this.RemoveItem(item)">
                ❌
            </button>
        </li>
    }
</ul>

@code
{
    private List<string> Items { get; set; } = [];

    private string ItemText { get; set; }

    private void AddItem()
    {
        if (this.ItemText is "")
        {
            return;
        }

        this.Items.Add(this.ItemText);

        this.ItemText = "";
    }

    private void RemoveItem(string item)
    {
        this.Items.Remove(item);
    }
}