@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Braya!</h1>

<form onsubmit="return false" >
    <label>
        <span>
            Description
        </span>

        <input type="text"
               @bind-value="ItemText" />
    </label>

    <button type="submit" @onclick="this.AddItem">
        Add item
    </button>
</form>

<ul>
    @foreach(var item in this.Items)
    {
        <li>
            @{
                var itemTextDecoration = "";
                if (item.IsComplete)
                {
                    itemTextDecoration = "line-through";
                }
            }

            <label style="text-decoration: @itemTextDecoration; user-select: none;">
                <input type="checkbox" 
                       checked="@item.IsComplete"
                       @onchange="() => this.ToggleItem(item)" />

                @item.Description
            </label>

            <button class="delete" style="border:none; background: none;"
                @onclick="() => this.RemoveItem(item)">
                ❌
            </button>
        </li>
    }
</ul>

@code
{
    private List<ListItem> Items { get; set; } = [];

    private string ItemText { get; set; } = "";

    private void AddItem()
    {
        if (this.ItemText is "")
        {
            return;
        }

        this.Items.Add(new ListItem(this.ItemText));

        this.ItemText = "";
    }

    private void RemoveItem(ListItem item)
    {
        this.Items.Remove(item);
    }

    private void ToggleItem(ListItem item)
    {
        item.IsComplete = !item.IsComplete;
    }

    class ListItem
    {
        public ListItem(string newDescription)
        {
            this.Description = newDescription;
        }

        public string Description { get; set; }

        public bool IsComplete { get; set; }
    }
}