@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Braya!</h1>

<form onsubmit="return false">
    <label>
        <span>
            Description
        </span>

        <input type="text"
               @bind-value="ItemText" />
    </label>

    <button type="submit" @onclick="this.AddItem">
        Add item
    </button>
</form>

<ul>
    @foreach (var item in this.Items.OrderBy(item => item.IsComplete))
    {
        <li @key="item.Description">
            @{
                var itemTextDecoration = "auto";
                if (item.IsComplete)
                {
                    itemTextDecoration = "line-through";
                }
            }

            <label style="text-decoration: @itemTextDecoration;">
                <input type="checkbox"
                       checked="@item.IsComplete"
                       @onchange="() => this.ToggleItem(item)" />

                @item.Description
            </label>

            <button class="delete" style="border:none; background: none;"
                    @onclick="() => this.RemoveItem(item)">
                ❌
            </button>
        </li>
    }
</ul>
