label {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

li {
    display: flex;
    align-items: center;
}

    li > label {
        display: inline-flex;
        flex-direction: row;
        user-select: none;
        padding: .3em .5em;
        background-color: #ebebeb;
        border-radius: 0.5em 1em 1em 0.5em;
    }

        li > label > input[type=checkbox] {
            margin: 0;
        }

    li:not(:hover) button.delete {
        transition: opacity 1s;
        opacity: 0%;
    }
