label {
    display: flex;
    flex-direction: column;
}

li > label {
    display: inline-flex;
    flex-direction: row;
}

li:not(:hover) button.delete {
    transition: opacity 1s;
    opacity: 0%;
}